{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <table>
    <tr>
      <th>Ptolemy ID</th>
      <th>Ptolemy Name</th>
      <th>Modern Name</th>
      <th>Disposition</th>
    </tr>
  {% for place in places %}
    <tr>
      <td><a href="places/{{ place.ptolemy_id }}">{{ place.ptolemy_id }}</a></td>
      <td>{{ place.ptolemy_name|safe }}</td>
      <td>{{ place.modern_name|safe }}</td>
      <td>{{ place.disposition|safe }}</td>
    </tr>
  {% else %}
    <tr>
      <td colspan="4"><em>Unbelievable.  No entries here so far</em></td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
