{% extends "layout.html" %}
{% block body %}
<h2>{{ region.name }}</h2>
<ul>
  <li>Region ID: {{ region.id }}</li>
  <li>Region Name: {{ region.name }}</li>
  <li>Region Slug: {{ region.slug }}</li>
    <li>Project: <a href="/projects/{{ region.project.slug }}">{{ region.project.name }}</a></li>
</ul>
<p><a href="{{ region.slug }}/download">Download Places CSV</a></p>
<h2>Places</h2>
<ul>
    {% for place in region.places %}
    <li><a href="/places/{{ place.ptolemy_id }}">{{ place.ptolemy_id }} - {{ place.ptolemy_name }}</a> ({{ place.disposition }})</li>
    {% else %}
    <li><em>Unbelievable.  No places here so far</em></li>
    {% endfor %}
</ul>
{% endblock %}
